<!DOCTYPE html>
<html>
<head>
  <title>Brewtome</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <nav class="top-bar">
  <div class="text-center top-bar-logo">
    <a href="/"><%= image_tag("navbar_logo.png", width: 400) %></a>
  </div>


    <section class="top-bar-section">
      <div class="right">
        <%- if current_user -%>
          <%= link_to destroy_user_session_path, method: :delete do %>
              <div class="btn41-43 btn-43">sign out</div>
          <% end %>
        <%- else -%>

          <%= link_to new_user_registration_path do %>
            <div>
              <div class="btn41-43 btn-43">sign up</div>
            </div>
          <% end %>

          <%= link_to new_user_session_path do%>
            <div>
              <div class="btn41-43 btn-43">sign in</div>
            </div>
          <% end %>

        <%- end -%>
      </div>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
</html>
